<!DOCTYPE html>
<html ng-app="pub">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.css') }}"/>
        <link href="{{ asset('template/css/bootstrap-cerulean.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/charisma-app.css') }}" rel="stylesheet">
        <link href="{{ asset('template/bootstrap-tour/build/css/bootstrap-tour.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bower_components/angular-ui-grid/ui-grid.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bower_components/iCheck/skins/flat/blue.css') }}" rel="stylesheet" type="text/css">
        {#        <link href="{{ asset('bower_components/angular-ui-grid/ui-grid-theme.min.css') }}" rel="stylesheet" type="text/css">#}
        <link href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bower_components/slick-carousel/slick/slick.css') }}" rel="stylesheet">
        <link href="{{ asset('bower_components/slick-carousel/slick/slick-theme.css') }}" rel="stylesheet">
{#        <link href="{{ asset('bower_components/openlayers3/build/ol.css') }}" rel="stylesheet">#}
        <link href="{{ asset('offline_map/style.css') }}" rel="stylesheet">
        <link href="{{ asset('offline_map/theme/default/style.css') }}" rel="stylesheet">

        <link href="{{ asset('fonts/fftusj/stylesheet.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('fonts/digital7/stylesheet.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('app.css') }}" rel="stylesheet">
        <link href="{{ asset('css/board.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        {% endblock %}

        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    </head>
    <style>
        html{
            background-color: #e5f0f8;
        }
    </style>
    <body>
        <div id="spinner" hidden>
            <div id="loading" style="min-height: 241px; margin-top: 140px;">
                <div class="loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="span12 ui-view-container">
            <div ui-view></div>        
        </div>
        {% block javascripts %}
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('bower_components/tinymce-dist/tinymce.js') }}"></script>
        <script src="{{ asset('bower_components/iCheck/icheck.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular-animate/angular-animate.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular-ui-tinymce/src/tinymce.js') }}"></script>
        <script src="{{ asset('bower_components/angular-ui-grid/ui-grid.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('bower_components/angular-bootstrap/ui-bootstrap.js')}}"></script>
        <script src="{{ asset('bower_components/angular-touch/angular-touch.js')}}"></script>
        <script src="{{ asset('bower_components/ng-idle/angular-idle.js')}}"></script>
        <script src="{{ asset('bower_components/angular-timeago/dist/angular-timeago.js')}}"></script>
        <script src="{{ asset('bower_components/slick-carousel/slick/slick.js')}}"></script>
        <script src="{{ asset('bower_components/angular-slick-carousel/dist/angular-slick.min.js')}}"></script>
       {# <script src="{{ asset('bower_components/openlayers3/build/ol.js')}}"></script>
        <script src="{{ asset('bower_components/angular-sanitize/angular-sanitize.min.js')}}"></script>
        <script src="{{ asset('bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.js')}}"></script>#}
        



        <script src="{{ asset('app.js')}}"></script>
        <script src="{{ asset('pub.js')}}"></script>
        <script src="{{ asset('directives/compareTo.js')}}"></script>
        <script src="{{ asset('directives/slider.js')}}"></script>
        <script src="{{ asset('directives/slick.js')}}"></script>
        <script src="{{ asset('filters/trustHtml.js')}}"></script>
        <script src="{{ asset('services/user.js')}}"></script>
        <script src="{{ asset('services/authorization.js')}}"></script>
        <script src="{{ asset('services/principal.js')}}"></script>
        <script src="{{ asset('partials/announcement/announcement.js')}}"></script>
        <script src="{{ asset('partials/announcement/new/new.js')}}"></script>
        <script src="{{ asset('partials/announcement/browse/browse.js')}}"></script>
        <script src="{{ asset('partials/map/map.js')}}"></script>
        <script src="{{ asset('partials/map/show/show.js')}}"></script>
        <script src="{{ asset('partials/user/user.js')}}"></script>
        <script src="{{ asset('partials/index.js')}}"></script>
        <script src="{{ asset('partials/user/new/new.js')}}"></script>
        <script src="{{ asset('partials/user/show/show.js')}}"></script>
        <script src="{{ asset('partials/user/browse/browse.js')}}"></script>
        <script src="{{ asset('partials/user/edit/edit.js')}}"></script>
        <script src="{{ asset('template/js/jquery.noty.packaged.min.js')}}"></script>
        <script src="{{ asset('template/bootstrap-tour/build/js/bootstrap-tour.min.js')}}"></script>
        <script src="{{ asset('js/script.js')}}"></script>
      {#  <script src="{{ asset('offline_map/OpenLayers.js')}}"></script>
        <script src="{{ asset('offline_map/event.js')}}"></script>
        <script src="{{ asset('offline_map/storage.js')}}"></script>
        <script src="{{ asset('offline_map/map.js')}}"></script>
        <script src="{{ asset('offline_map/run.js')}}"></script>#}
        <script>
            $(document).on("contextmenu", function (event) {
                event.preventDefault();
            });
        </script>

    </body>
</html>
