<!DOCTYPE html>
<html ng-app="pub">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.css') }}"/>
        <link href="{{ asset('template/css/bootstrap-cerulean.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/charisma-app.css') }}" rel="stylesheet">
        <link href="{{ asset('template/bootstrap-tour/build/css/bootstrap-tour.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/angular/ui-grid.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/icheck/skins/flat/blue.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/angular/ui-grid-theme.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/bxslider/bxslider.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/switch/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/ninja-slider/ninja-slider.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('fonts/fftusj/stylesheet.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('app.css') }}" rel="stylesheet">
        <link href="{{ asset('css/board.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        {% endblock %}

        <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>

    </head>
    <body>
        <div class="span12 ui-view-container">
            <div ui-view></div>        
        </div>
        {% block javascripts %}
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('plugins/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('plugins/icheck/icheck.min.js') }}"></script>
        <script src="{{ asset('plugins/angular/angular.min.js') }}"></script>
        <script src="{{ asset('plugins/angular/angular-ui-router.min.js') }}"></script>
        <script src="{{ asset('plugins/angular/angular-animate.min.js') }}"></script>
        <script src="{{ asset('plugins/angular/angular-ui-tinymce.js') }}"></script>
        <script src="{{ asset('plugins/angular/ui-grid.min.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('plugins/bootstrap/js/ui-bootstrap.min.js')}}"></script>
        <script src="{{ asset('plugins/bxslider/bxslider.min.js')}}"></script>
        <script src="{{ asset('plugins/switch/bootstrap-switch.min.js')}}"></script>
        <script src="{{ asset('plugins/switch/angular-bootstrap-switch.min.js')}}"></script>
        <script src="{{ asset('plugins/ng-idle/angular-idle.js')}}"></script>
        <script src="{{ asset('plugins/ninja-slider/ninja-slider.js')}}"></script>
        <script src="{{ asset('app.js')}}"></script>
        <script src="{{ asset('pub.js')}}"></script>
        <script src="{{ asset('directives/compareTo.js')}}"></script>
        <script src="{{ asset('directives/slider.js')}}"></script>
        <script src="{{ asset('filters/trustHtml.js')}}"></script>
        <script src="{{ asset('services/user.js')}}"></script>
        <script src="{{ asset('services/authorization.js')}}"></script>
        <script src="{{ asset('services/principal.js')}}"></script>
        <script src="{{ asset('partials/announcement/announcement.js')}}"></script>
        <script src="{{ asset('partials/announcement/new/new.js')}}"></script>
        <script src="{{ asset('partials/announcement/browse/browse.js')}}"></script>
        <script src="{{ asset('partials/user/user.js')}}"></script>
        <script src="{{ asset('partials/index.js')}}"></script>
        <script src="{{ asset('partials/user/new/new.js')}}"></script>
        <script src="{{ asset('partials/user/show/show.js')}}"></script>
        <script src="{{ asset('partials/user/browse/browse.js')}}"></script>
        <script src="{{ asset('partials/user/edit/edit.js')}}"></script>
        <script src="{{ asset('template/js/jquery.noty.packaged.min.js')}}"></script>
        <script src="{{ asset('template/bootstrap-tour/build/js/bootstrap-tour.min.js')}}"></script>
        <script src="{{ asset('js/script.js')}}"></script>

    </body>
</html>
