{#<!DOCTYPE html>
<html manifest="{{ asset("offline_map/appcache.manifest") }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            Campus Map
        </title>
        <link href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("offline_map/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css") }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset("offline_map/style.css") }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset("offline_map/leaflet.css") }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset("bower_components/leaflet-routing-machine/dist/leaflet-routing-machine.css") }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset("bower_components/leaflet-search/dist/leaflet-search.src.css") }}" />
        <style>
            .search-button{
                width: 1em;
                height: 1em;
            }
        </style>
    </head>
    <body>
        
        <div id="map"></div>
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset("offline_map/campus.geojson.js") }}"></script>
        <script src="{{ asset("offline_map/script.js") }}"></script>
        <script src="{{ asset("offline_map/pouchdb-1.1.0.js") }}"></script>
        <script src="{{ asset("offline_map/leaflet-src.js") }}"></script>
        <script src="{{ asset("bower_components/leaflet-routing-machine/dist/leaflet-routing-machine.js") }}"></script>
        <script src="{{ asset("bower_components/leaflet-search/dist/leaflet-search.src.js") }}"></script>
        <script src="{{ asset("offline_map/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js") }}"></script>
        <script src="{{ asset("offline_map/map.js") }}"></script>
    </body>
</html>

#}

<html>
    <head>
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.css') }}"/>
        <link href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 100%; }
        </style>
    </head>
    <body>
        <div id="map"></div>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('bower_components/lodash/dist/lodash.min.js')}}"></script>
        <script src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
        <script src="{{ asset('bower_components/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('bower_components/angular-bootstrap/ui-bootstrap.js')}}"></script>
        <script src="{{ asset('bower_components/angular-simple-logger/dist/angular-simple-logger.min.js')}}"></script>
        <script src="{{ asset('bower_components/angular-google-maps/dist/angular-google-maps.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset("partials/map/show/show.js") }}"></script>
        <script type="text/javascript" src="{{ asset("partials/map/map.js") }}"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2n_7p8GcGK8pVy8GB7ZJiCjtlZACq1PY&callback=initMap">
        </script>
    </body>
</html>